@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');



body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: Open Sans, sans-serif;
    line-height: 1.65;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER ---------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #25a2c3;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

#container-logo {
    text-align: left;
    background-color: black;
    padding: 30px 30px 30px 50px;
}

#container-logo img {
    width: 150px;
}

#header-description {
    background-image: url(/Esercizio/images/banner.jpg);
    background-position: center center;
    background-size: cover;
    padding: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #25a2c3;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

#header-description {
    text-align: center;
    height: auto;
    padding: 200px 575px;
}

#header-description h1 {
    font-size: 1.8em;
    text-align: center;
}

#header-description p {
    margin: 15px 0px;
}

#header-description a {
    font-family: Montserrat, sans-serif;
    background-color: #f04c2f;
    border-style: none;
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.9em;
}

#header-link {
    margin: 40px 0px 15px 0px;
}

#header-description a:hover {
    background-color: #b03a25;
}

/* MAIN -----------------------ho provato eliminando i div e passando a una table ma il risultato non cambia di molto,
non riesco proprio a centrare img e testo a destra, ho problemi nel centrare l'altezza e flexbox non era concesso-----------------------*/

article {
    margin: 100px 0px;
}

main article {
    padding-top: 15px;
}

main article p {
    margin: 10px 0px;
    padding: 0px 15px;
}

#img-td {
    text-align: right;
    height: 80%;
}

td {
    width: 50%;
}

table {
    width: 100%;
    height: 561px;
}

#main-text-box {
    display: inline-block;
    padding: 40px 40px 55px 80px;

}

main article td img {
    border-radius: 400px;
    width: 500px;
    display: inline-block;
    padding-top: 0px 20px 0px 20px;
    vertical-align: bottom;
}

/* ------------------------------------------------------- */
main section {
    background-color: #e22d0e;
    padding: 90px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

section h1 {
    color: white;
    font-size: 1.8em;
    margin: 30px 0px;
}

#comment-section {
    font-style: italic;
    margin: 30px 0px;
}

#name-ceo {
    font-size: 1.2em;
}

/* aside--------------------come soluzione ho inserito le 3 box in una table, impostata width 100% e height 240px alle
immagini per renderle alte uguali (il problema penso derivasse dal div) infine centrato aside con text-align, margin left 
e right alla box2 per distanziarla dalle box1 e box3--------------------------- */

aside {
    text-align: center;
    height:500px;
}


aside td {
    display: inline-block;
    text-align: center;
    border: 1px solid #dee1e3;
    border-radius: 5px;
    width: 400px;
}

aside td img {
    width: 100%;
    height:240px;

}

aside td h4 {
    margin: 10px;
}

aside td p {
    margin: 0px 15px 40px 15px;
}

#box2 {
    margin:0 3% 0 3%;
}
/* footer ------------------------------------------- */

footer {
    background-color: #25a2c3;
    color: #c8e7f0;
    padding: 50px 0px;
}

footer a {
    color: #c8e7f0;
}

footer h1 {
    color: white;
    font-size: 1.8em;
    padding: 30px 0;
    text-align: center;
}

hr {
    margin: 30px 0px;
}

#copyrights {
    padding-bottom: 60px;
    text-align: center;
}

#box-footer {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}